cloudhub_dep/src/main/mule/cloudhub_dep.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6bede76b-77af-4e6b-a6d8-8367fde086c8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cloudhub_depFlow" doc:id="a2ef172e-5a7b-4c02-93ea-adaea19dabd9" >
		<http:listener doc:name="Listener" doc:id="716f5510-685a-4a08-bca9-67707849d534" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='"cloudhub deployment"' doc:name="Set Payload" doc:id="1b573f22-bc09-44d0-980b-d06972343006" />
		<logger level="INFO" doc:name="Logger" doc:id="8010e6a1-cf1e-43f9-94dd-05d0fa46920c" message="end---#[payload]"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d06fccb9-c9d0-464c-8b45-514826220ca1" />
		<logger level="INFO" doc:name="Logger" doc:id="96d2d81c-3ac8-41b7-92e6-1f01a0dfc90e" message="end"/>
	</flow>
</mule>
